* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    /* height: 100vh; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D6DAC8;
    width: 100%;
}

header div {
    padding: 20px;
}

header ul {
    display: flex;
    justify-content: left;
    align-items: left;
    list-style: none;
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    padding: 6px 15px;
    text-decoration: none;
    color: black;
    font-size: 25px;

}

header ul li a:hover {
    background-color: aliceblue;
}

header img {
    width: 150px;
    border-radius: 50px;
}




/* .emptable {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid gray;
} */

main form {
    size: 18px;
    font: 1em sans-serif;

}

main form select {
    size: 18px;
    font: 1em sans-serif;
}

main form #button {
    size: 20px;
    color: rgb(75, 94, 126);
    border-width: 10px;
    box-shadow: 5%;
    border-bottom-color: rgb(204, 137, 137);
    cursor: pointer;
}

section {
    table-layout: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    align-items: center;
    border: 3px solid gray;
    justify-content: space-evenly;
}

.main form fieldset legend {
    font-size: x-large;
    background-color: rgb(243, 228, 228);
    font-family: 'Times New Roman', Times, serif;

}

#sectionCard {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    border: 1px solid #333;
    width: 250px;
    text-align: center;
    background-color: #C0D6E8;
    margin: 30px;
    height: 50%;
    border-radius: 10px;
}
.card img {
    width: 150px
}

footer {
    /* position: fixed; */
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 90px;
    background-color: aliceblue;
    float: left;
    word-spacing: 20px;

}